[submodule "packages/glTFast"]
	path = packages/glTFast
	url = git@github.com:atteneder/glTFast.git
[submodule "gltf-test-framework"]
	path = packages/gltf-test-framework
	url = git@github.com:atteneder/gltf-test-framework.git
[submodule "packages/unity-gltf-validator"]
	path = packages/unity-gltf-validator
	url = git@github.com:atteneder/unity-gltf-validator.git
[submodule "assets/glTF-Sample-Models"]
	path = assets/glTF-Sample-Models
	url = git@github.com:KhronosGroup/glTF-Sample-Models.git
