# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.glTFast-graphics-tests-2020-birp.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Editor-based HTTP Client requests
/httpRequests/
