# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.glTFast-tests-2019.iml
/projectSettingsUpdater.xml
# Editor-based HTTP Client requests
/httpRequests/
