# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.glTFast-graphics-tests-2020-urp.iml
# Editor-based HTTP Client requests
/httpRequests/
