# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.glTFast-graphics-tests-2021-birp.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Editor-based HTTP Client requests
/httpRequests/
