# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.glTFast-tests-2021-hdrp.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Editor-based HTTP Client requests
/httpRequests/
