# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.glTFast-tests-2020.3-urp.iml
/modules.xml
# Editor-based HTTP Client requests
/httpRequests/
