# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.glTFast-tests-2019-hdrp.iml
/modules.xml
# Editor-based HTTP Client requests
/httpRequests/
