# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.glTFast-graphics-tests-2021-hdrp.iml
# Editor-based HTTP Client requests
/httpRequests/
