# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
/.idea.glTFast-tests-2019.4.iml
# Editor-based HTTP Client requests
/httpRequests/
